input {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    display: block;
    background-color: palevioletred;
    color: white;
    font-size: 20px;
    border: 0px;
    border-radius: 50px;
}